
:host {
  flex: 0 20%;
}

nav {
	display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul:first-child {
	position: absolute;
	list-style: none;
	display: inline-table;
  margin: 0px 0px 0px 0px;
	padding: 0px 0px;
}


nav ul {
	position: absolute;
	list-style: none;
	z-index: 999;
	display: inline-table;
	padding: 0px 0px;
}

nav>ul>li {
	float: left;
	background-image: url("/assets/images/backgrounds/menu/parchemin_header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

nav>ul>li:hover {
	float: left;
	background-image:
		url("/assets/images/backgrounds/menu/parchemin_header_hover.png");
}

nav ul li ul li {
	background-image: url("/assets/images/backgrounds/menu/parchemin_middle.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

nav ul li ul li:hover {
	background-image:
		url("/assets/images/backgrounds/menu/parchemin_middle_hover.png");
}

nav ul li ul li:last-child {
	background-image: url("/assets/images/backgrounds/menu/parchemin_footer.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

nav ul li ul li:last-child:hover {
	background-image:
		url("/assets/images/backgrounds/menu/parchemin_footer_hover.png");
}

nav ul li:hover>ul {
	display: block;
}

nav ul li a {
	display: block;
	padding: 30px 20px;
	color: #222;
	font-size: .9em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	width: 150px;
	text-align: center;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	float: none;
	position: relative;
}

nav ul ul li a {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
