<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/pageStructure :: head"></head>
<meta charset="ISO-8859-1" />

<link rel="stylesheet" th:href="@{/css/map.css}" />


<body>
	<nav th:replace="fragments/pageStructure :: nav"></nav>

	<section class="pageWithoutNav">

		<header th:replace="fragments/pageStructure :: header"></header>

		<section class="pageContent">
			<h1>Éditeur de carte</h1>
			
			<div>   		
				<label for="beginXCoord">Coordonnée X : </label>
				<label for="beginXCoord" th:text="${map?.beginXCoord}" ></label>
				<label for="beginXCoord">Coordonnée Y : </label>
		   		<label for="beginYCoord" th:text="${map?.beginYCoord}" ></label>
   			</div>
						
    <form action="#" th:action="@{/admin/mapEditor}" th:object="${map}" method="post">
   		<label for="beginXCoord">Coordonnée X : </label>
    	<input type="number" th:field="*{beginXCoord}" />
   		<label for="beginYCoord">Coordonnée Y : </label>
    	<input type="number" th:field="*{beginYCoord}" />

   		    	
        <input type="submit" value="Générer une carte" />
    </form>
    
    <form action="#" th:action="@{/admin/mapEditorSaveMap}" method="post">
		   		
		<input type="text" name="mapJsonView" th:value="${mapJsonView}" hidden="true"/>
		<input type="number" name="beginXCoord" th:value="${map?.beginXCoord}" hidden="true"/>
		<input type="number" name="beginYCoord" th:value="${map?.beginYCoord}" hidden="true" />
		
        <input type="submit" value="Sauvegarder" />
        
    </form>

			<div th:replace="fragments/map/map :: section"></div>

		</section>

		<footer th:replace="fragments/pageStructure :: footer"></footer>

	</section>

</body>

</html>