<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
	<nav th:replace="fragments :: nav"></nav>

	<section class="pageWithoutNav">

		<header th:replace="fragments :: header"></header>

	<section class="pageContent">
		<h1>Editeur de carte</h1>
		<p>Bienvenu sur l'éditeur de carte</p>
		
		
		<Button th:onclick="@{../admin/createMap}">Create User</Button>
		<div>User créé :  <span th:utext="${User.email}"></span>  avec succès ! </div>
	
	</section>

		<footer th:replace="fragments :: footer"></footer>
		
	</section>

</body>

</html>