

body {
	background-image: url("/assets/img/backgrounds/parchemin_main.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
  background-repeat: repeat;
  margin: 0;
}

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
