#mapView
{
  width:100%;
  height:100%;
  border: dashed green;
}

#mapViewCanvas
{
  border: dashed red;
  width:100%;
  height:100%;
}

#mapEditorToolbar{
  display:flex;
  width:30%;
  height:100%;
}


#mapToolBar
{
    width:100%;
    height:100%;
	display: inline-grid;
 	grid-template-columns: 100%;
	grid-gap: 2px 2px;
	border: dashed yellow;
	padding: 0px;
	color: #444;
	overflow-y: auto;
	overflow-x: hidden;
}

.mapToolBarItem {
  color: #000;
  border-radius: 5px;
}


#mapToolBarSubMenu {
  width:60%;
  height:100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2px 2px;
  color: #444;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
}

.mapToolBarSubMenuItem {
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2px;
  background-repeat: repeat;
  background-image: var(--backgroundImageUrl);
}

