
:host{
  flex: 1 auto;
  border: dashed red;
}

#mapEditorToolbar{
  display:flex;
  border: dashed darkblue;
  height:100%;
}

#mapToolBar
{
  width:50%;
  height:100%;
	display: inline-grid;
 	grid-template-columns: 100%;
	grid-gap: 2px 2px;
	padding: 0px;
	color: #444;
	overflow-y: auto;
	overflow-x: hidden;
  border: dashed rgb(92, 216, 102);
}

.mapToolBarItem {
  color: #000;
  border-radius: 5px;
}


#mapToolBarSubMenu {
  width:50%;
  height:100%;
	display: inline-grid;
  grid-template-columns: 50% 50%;
	grid-gap: 2px 2px;
	padding: 0px;
	color: #444;
	overflow-y: auto;
	overflow-x: hidden;
  border: dashed rgb(92, 216, 102);
}

.mapToolBarSubMenuItem {
  color: #000000;
  border-radius: 5px;
  padding: 2px;
  background-repeat: repeat;
  background-image: var(--backgroundImageUrl);
}
