:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#infoPanelText {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    position: absolute;
}  

#infoPanelPicture {
    position: absolute;
}