<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/pageStructure :: head"></head>
<meta charset="ISO-8859-1" />

<link rel="stylesheet" th:href="@{/css/map.css}" />

<body>
		<header th:replace="fragments/pageStructure :: header"></header>

		<section class="pageContent" id="pageContentMapEditor">
		


			<h1>Carte du monde</h1>
			
			
		<script th:inline="javascript">
			<!-- Initialisation constant variables -->
			var mapLoadedFrom = "mapView";

		</script>
					
					
	<section id="mapContainer">
					
			<section th:replace="fragments/map/map :: section"></section>
				
	</section>	
 
		<script th:attr="data-main=@{/js/map/mapView}"
		th:src="@{/js/libs/requirejs/require.js}"></script>
					
		</section>

		<footer th:replace="fragments/pageStructure :: footer"></footer>

</body>

</html>