<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/pageStructure :: head"></head>

<body>

	<nav th:replace="fragments/pageStructure :: nav"></nav>

	<section class="pageWithoutNav">

		<header th:replace="fragments/pageStructure :: header"></header>

		<section class="pageContent">
			<h1>Accueil</h1>
			<p>Bienvenu sur la page d'accueil</p>
		</section>

		<footer th:replace="fragments/pageStructure :: footer"></footer>


	</section>
</body>
</html>