<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<meta charset="ISO-8859-1" />

<body>
	<nav th:replace="fragments :: nav"></nav>

	<section class="pageWithoutNav">

		<header th:replace="fragments :: header"></header>

		<!-- //TO SPECIALIZE -->
		<section class="pageContent">
			<h1>Editeur de carte</h1>
			<p>Bienvenu sur l'éditeur de carte</p>
		</section>
		<!-- //TO SPECIALIZE -->

		<footer th:replace="fragments :: footer"></footer>
		
	</section>

</body>

</html>