:host {
  display: flex;
  flex-direction: column;
  border: dashed green;
  height: 92%;
}


#mapContainer
{
  display: flex;
  flex-direction: column;
  border: dashed yellow;
  height: 100vh;
}
