@import url("nav.css");

* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/backgrounds/parchemin_main.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.header {
	display: flex;
}

.pageContent>h1 {
	color: red;
}

.pageContent {
	display: flex;
	flex-direction: column;
	flex: 5;
}


.loginBox {
	background-image:
		url("../img/backgrounds/parchemin_box_with_borders.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0px 30px 15px 30px;
}

.loginBox Label {
	font-size: 15; 
	color: red;
	font-weight: bold;
	}


