* {
    box-sizing: border-box; 
  }


body {
	background-image: url("../img/parchemin.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	display: flex;
    min-height: 50vh;
    flex-direction: row;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

nav {
	
}

.th_menu {
	flex: 1;
	min-width:150px;
	max-width:10%;
	background-color: #E2ED6B;
}

.pageWithoutNav {
	max-width:90%;
    display: flex;
    flex-direction: column;
    flex: 5;
}

h1 {
		
}

section {
	border: 1px solid black;
}

.pageContent {
    display: flex;
    flex-direction: column;
    flex: 4;
    min-height: 60vh;
}

.pageContent > h1
{
	display: flex;
	color:red;
}


  header, footer {
    height: 10vh;
  }
  header, footer, .pageContent, .th_menu {
    padding: 1em;
  }



a {
	color: #000000;
	text-decoration: none
}

.wifeo_rubrique>a {
	color: #000000;
	text-decoration: none
}

.wifeo_rubrique:hover>a {
	color: #000000;
	text-decoration: none
}

.wifeo_pagesousmenu>a {
	color: #000000;
	text-decoration: none
}

.wifeo_conteneur_menu {
	border-spacing: 0px
}

.wifeo_conteneur_menu {
	width: 160px;
	height: auto;
	max-width: 100%
}

.wifeo_rubrique, .wifeo_pagemenu {
	background-color: #E2ED6B;
	border-top: 1px dashed #FFFF93;
	border-bottom: 1px dashed #BAC543;
	text-align: center;
	height: 40px;
	width: 100%;
	display: table
}

.wifeo_conteneur_menu a {
	vertical-align: middle;
	width: 100%;
	display: table-cell;
	padding: 0 5px
}

.wifeo_rubrique:hover, .wifeo_pagemenu:hover {
	position: relative;
	z-index: 3;
	background-color: #FFFFB1;
	border-top: 1px dashed #FFFF93;
	border-bottom: 1px dashed #BAC543
}

.wifeo_sousmenu {
	visibility: hidden;
	position: absolute;
	z-index: 3;
	width: 160px
}

.wifeo_pagesousmenu {
	background-color: #FFFF93;
	width: 100%;
	display: table;
	height: 40px;
	text-align: center;
	border-top: 1px dashed #FFFFBB;
	border-bottom: 1px dashed #D7D76B
}

.wifeo_pagesousmenu:hover {
	position: relative;
	z-index: 3;
	background-color: #FFFFD9;
	border-top: 1px dashed #FFFFFF;
	border-bottom: 1px dashed #D7D7B1
}

.wifeo_rubrique:hover>.wifeo_sousmenu {
	visibility: visible
}

/* .wifeo_sousmenu {
	top: 0;
	right: -160px;
	margin-left: 0px
} */

.hrefButton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}