body
{
    background-image: url("../img/parchemin.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat;
}


section
{
    width: 800px; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
}

.mapViewSection
{
    width: 800px; /* On a indiqué une largeur (obligatoire) */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
}

.mapView
{
    width: 800px; /* On a indiqué une largeur (obligatoire) */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    text-align: justify;
}

