

#mapContainer
{
    display:flex;
    width:100%;
    height:100%;
    border: dashed black;
  	overflow-y: hidden;
  	overflow-x: hidden;
}

#mapView
{
    height:100%;
    width:100%;
    border: dashed green;
  	overflow-y: hidden;
 	overflow-x: hidden;
}


#mapViewCanvas
{
    width:2000px;
    height:1000px;
    border: dashed red;
}

#mapToolBar
{
	width:10%;
	display: inline-grid;
 	grid-template-columns: 100%;
	grid-gap: 2px 2px;
	border: dashed yellow; 
	padding: 0px;
	color: #444;
	overflow-y: auto;
	overflow-x: hidden;
}

.mapToolBarItem {
  color: #000;
  border-radius: 5px;
}


#mapToolBarSubMenu {
  width:20%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2px 2px;
  color: #444;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
}

.mapToolBarSubMenuItem {
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2px;
  background-repeat: repeat;
}

#mapToolBarSubMenuItem_Grass {
  background-image: url("../img/JsIso/ground/grass_square.png");
}

#mapToolBarSubMenuItem_Ground {
  background-image: url("../img/JsIso/ground/ground_square.png");
}

#mapToolBarSubMenuItem_Ocean {
  background-image: url("../img/JsIso/ground/ocean_square.png");
}

#mapToolBarSubMenuItem_Sand {
  background-image: url("../img/JsIso/ground/sand_square.png");
}

