<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" /><!-- 
        <link rel="stylesheet" th:href="@{/css/style.css}" /> -->
        <title>Terre Hostile</title>
    </head>
     
	<header>
	    ma super bannière 
	</header>
	
	<header>
	    ma super bannière 
	</header>
	
<nav>
    <ul>
        <li><a th:href="@{../home.html}">Accueil</a></li>
        <li><a th:href="@{mapEditor}">Éditeur de carte</a></li>
        <li><a th:href="@{../user/mapViewer}">Carte du monde</a></li>
    </ul>
</nav>

    <body>
        <h1>Mon super site</h1>
        
        <p>Bonjour et bienvenue sur mon site !</p>
        
 
        <p>Pour le moment, mon site est un peu <em>vide</em>. Patientez encore un peu !</p>
    </body>
    
<footer>
    <!-- Placez ici le contenu du pied de page -->
</footer>
    
</html>