<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/home.css}" />
<title>Terre Hostile</title>
</head>

<header> Bannière </header>

<nav>
	<ul>
		<li><a th:href="@{../home.html}">Accueil</a></li>
		<li><a th:href="@{mapEditor}">Éditeur de carte</a></li>
		<li><a th:href="@{../user/mapViewer}">Carte du monde</a></li>
	</ul>
</nav>

<body>
	<section class="pageInformations">
	
	<h1>Editeur de carte</h1>

	<p>Bienvue sur l'éditeur de carte !</p>
	
	</section>
	
</body>

<footer>
	Footer
</footer>

</html>