<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<section id="mapContainer" th:fragment="map">

	<section id="mapView"> </section>

	<script th:attr="data-main=@{/js/config.js}" th:src="@{/js/requirejs/require.js}"></script>
	 
	  <script > 
	  
	  require([
	      'jsiso/canvas/Control',
	      'jsiso/canvas/Input',
	      'jsiso/img/load',
	      'jsiso/json/load',
	      'jsiso/tile/Field',
	      'jsiso/pathfind/pathfind',
	      'jsiso/pathfind/worker',
	      'jsiso/particles/EffectLoader',
          'jsiso/particles/Emitter',
          'jsiso/particles/Effect',
          'jsiso/particles/Particle',
          'jsiso/utils',
    	  'map/map',
	      'requirejs/domReady!'
		  ])
	  
	  </script>
</section>