<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<meta charset="ISO-8859-1" />

<section id="mapFragment" th:fragment="map">


	<div id="mapView"></div>
	
	
	<!-- Initialisation variables from html/server to javascript -->
	<script th:inline="javascript">
		var map = /*[[${map}]]*/"map";
		
			var unitConfigurations = /*[[${unitConfigurations}]]*/"unitConfigurations";
			var unitConfigurationPropertyList = /*[[${unitConfigurationPropertyList}]]*/"unitConfigurationPropertyList";
			var buildingConfigurationPropertyList = /*[[${buildingConfigurationPropertyList}]]*/"buildingConfigurationPropertyList";
			var buildingConfigurations = /*[[${buildingConfigurations}]]*/"buildingConfigurations";
			var resourceConfigurationPropertyList = /*[[${resourceConfigurationPropertyList}]]*/"resourceConfigurationPropertyList";
			var resourceConfigurations = /*[[${resourceConfigurations}]]*/"resourceConfigurations";
			var groundConfigurationPropertyList = /*[[${groundConfigurationPropertyList}]]*/"groundConfigurationPropertyList";
			var groundConfigurations = /*[[${groundConfigurations}]]*/"groundConfigurations";

	</script>


	<!-- Load  scripts and librairies -->

	<script type="text/javascript"
		src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
 
<!-- 	<script th:attr="data-main=@{/js/libs/requirejs/config}"
		th:src="@{/js/libs/requirejs/require.js}"></script>  -->

</section>