<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="fragments/pageStructure :: head"></head>
<meta charset="ISO-8859-1" />

<section id="mapContainer" th:fragment="map">


	<div id="mapView"> </div>

	<div id="mapToolBar"> 
	
	<button type="button" class="mapToolBarItem" onclick="show('mapToolBarSubMenu_groundType')">Type de terrain</button>
	<button type="button" class="mapToolBarItem" onclick="show('mapToolBarSubMenu_Buildings')">Bâtiments</button>
	<button type="button" class="mapToolBarItem"></button>
	
	</div>
	
	<div id="mapToolBarSubMenu"> 
	</div>
	
	
	
	<div id = "mapToolBarSubMenu_groundType" style='display:none'> 
		<button type="button" class="mapToolBarSubMenuItem" id="mapToolBarSubMenuItem_Grass">Grass</button>
		<button type="button" class="mapToolBarSubMenuItem" id="mapToolBarSubMenuItem_Ground">Ground</button>
		<button type="button" class="mapToolBarSubMenuItem" id="mapToolBarSubMenuItem_Ocean">Ocean</button>
		<button type="button" class="mapToolBarSubMenuItem" id="mapToolBarSubMenuItem_Sand">Sand</button>
	</div>
	
	<div id="mapToolBarSubMenu_Buildings"  style='display:none'> 
	Buildings
	</div>
	
	

	<script th:attr="data-main=@{/js/config.js}" th:src="@{/js/requirejs/require.js}">
	</script>
	
	<script> function show(param_div_id) {
	    document.getElementById('mapToolBarSubMenu').innerHTML = document.getElementById(param_div_id).innerHTML;
	  } </script>

	
	<!-- Initialisation varibales pour javascritp -->
	

	
<script th:inline="javascript">
/*<![CDATA[*/

    var map = /*[[${map}]]*/ "map";  

/*]]>*/
</script>
	 
	  <script > 
	  
	  require([
	      'jsiso/canvas/Control',
	      'jsiso/canvas/Input',
	      'jsiso/img/load',
	      'jsiso/json/load',
	      'jsiso/tile/Field',
	      'jsiso/particles/Effect',
	      'jsiso/particles/EffectLoader',
	      'jsiso/particles/Emitter',
	      'jsiso/particles/Particle',
	      'jsiso/pathfind/pathfind',
	      'jsiso/pathfind/worker',
	      'jsiso/tile/Camera',
	      'jsiso/url/url',
	      'jsiso/utils',
	      'map/map',
	      'requirejs/domReady!'
		  ])
	  
	  </script>
</section>