<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Template meta data : head -->
<head th:fragment="head">
<meta charset="ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<title>Terre Hostile</title>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
</head>


<div class="loginBox" th:fragment="loginBox">
	<div sec:authorize="isAnonymous()">
		<form th:action="@{/home}" method="POST" class="form-signin">
			<br /> <input type="text" id="email" name="email"
				th:placeholder="Email" class="form-control" value="tao@tao.com"/> <br /> <input
				type="password" th:placeholder="Password" id="password"
				name="password" class="form-control" value="taotao" /> <br />

			<div align="center" th:if="${param.error}">
				<Label th:if="${param.error}">Identifiants incorrectes</Label>
			</div>
			<div align="center" th:unless="${param.error}">
				<br />
			</div>

			<div align="center">
			<button class="btn btn-lg btn-primary btn-block" name="Submit"
				value="Login" type="Submit" th:text="Login"></button>

			<a th:href="@{/registration}">S'inscrire</a>
			</div>

		</form>


	</div>

	<div sec:authorize="isAuthenticated()">


		<label for="user">Bienvenue</label> <label for="user"
			th:text="${user?.name}"></label> <label for="user"
			th:text="${user?.lastName}"></label>

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="logout"
				type="Submit">Logout</button>
		</form>
	</div>

</div>